{% set pageTitle = "Get an isolation note prototype" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="nhsuk-heading-m">Version 3 (possible improvemnts - no go-live day yet)</h2>
      <b>Changes this version</b>
      <p>Updates why screen and why no screen</p>
      <ul>
        <li>
          <a href="/v3">Get an isolation note</a>
        </li>
        <li>
          <a href="/v3/check">Check an isolation note</a>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">Version 2 (live since 1 August 2020)</h2>
      <b>Changes this version</b>
      <p>Updated info for users who select "I'm at higher risk from coronavirus" because shielding advice is changing on 1 August 2020, url for medical advice in Scotland and info for medical advice in Northern Ireland.</p>
      <ul>
        <li>
          <a href="/v2">Get an isolation note</a>
        </li>
        <li>
          <a href="/v2/check">Check an isolation note</a>
        </li>
      </ul>

      <h2 class="nhsuk-heading-m">Version 1 (before 1 August 2020)</h2>
      <ul>
        <li>
          <a href="/v1">Get an isolation note</a>
        </li>
        <li>
          <a href="/v1/check">Check an isolation note</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
