{% set pageTitle = "Get an isolation note prototype" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="nhsuk-heading-m">Version 5</h2>
      <b>Changes this version (29 July 2021)</b>
      <p>Changes to self-isolation rules on 16 August 2021</p>
      <p>Minor text updates to Get an isolation note page and screener question on 14th Sep 2021</p>

      <h5>Get an isolation note - v5a</h3>
      <ul>
        <li><a href="/v5">Get an isolation note</a> <span class="nhsuk-tag">Updated</span></li>
        <li><a href="/v5/index-v2">Get an isolation note (Version 2 - with vulnerable info box)</a> <span class="nhsuk-tag"> Updated</span></li>
        <li><a href="/v5/screener-question">Have you been told to self-isolate by an NHS service or a healthcare professional?</a> <span class="nhsuk-tag">Updated</span></li>
        <ul>
          <li>No - <a href="/v5/screener-question-no">You do not need an isolation note</a> <span class="nhsuk-tag">Updated</span></li>
        </ul>
        <li><a href="/v5/screener-question-why">Why do you have to self-isolate?</a> <br> (with option "I am at higher risk from coronavirus") <span class="nhsuk-tag">Updated</span></li>
        <li><a href="/v5/screener-question-date">When do you need this note to start from?</a></li>
        <li><a href="/v5/what-is-your-name">What is your name?</a></li>
        <li><a href="/v5/what-is-your-dob">What is your date of birth?</a></li>
        <li><a href="/v5/what-is-your-email">What email address should we send your note to?</a></li>
        <li><a href="/v5/check-your-answers">Check your answers</a></li>
        <li><a href="/v5/confirmation-page">Your isolation note</a></li>

        <br>
        <h5>Get an isolation note - v5b</h3>
        <li><a href="/v5/screener-question-why-v2">Why do you have to self-isolate?</a> <br>(with option "I am at higher risk from coronavirus") <span class="nhsuk-tag">Updated</span></li>
        <ul>
          <li><a href="/v5/screener-question-why-no">You do not need an isolation note</a> <span class="nhsuk-tag">Updated</span></li>
        </ul>
      </ul>

      <br> 
      <h5>Check an isolation note</h3>
      <ul>
        <li><a href="/v5/check">Check an isolation note</a> <span class="nhsuk-tag">Updated</span></li>
        <li><a href="/v5/check/reference-number">Enter the isolation note reference number</a></li>
        <li><a href="/v5/check/date-of-birth">What is the employee's date of birth?</a></li>
        <li><a href="/v5/check/confirmation-page">This isolation note is valid</a></li>
        <li><a href="/v5/check/confirmation-page-invalid">We do not have a record of this isolation note</a></li>
      </ul>

      <hr>
      
      <h2 class="nhsuk-heading-m">Version 4</h2>
      <b>Changes this version (28 July 2021)</b>
      <p>Copy tweaks to replicate live site</p>
      <ul>
        <li>
          <a href="/v4">Get an isolation note</a>
        </li>
        <li>
          <a href="/v4/check">Check an isolation note</a>
        </li>
      </ul>

      <hr>

      <h2 class="nhsuk-heading-m">Version 3 (possible improvements - no go-live day yet except for 111 Wales changes)</h2>
      <b>Changes this version</b>
      <p>Changed mentions of NHS Direct Wales to NHS 111 Wales - this went live on 28 August 2020</p>
      <p>yxz</p>
      <ul>
        <li>
          <a href="/v3">Get an isolation note</a>
        </li>
        <li>
          <a href="/v3/check">Check an isolation note</a>
        </li>
      </ul>

      <hr>

      <h2 class="nhsuk-heading-m">Version 2 (live since 1 August 2020)</h2>
      <b>Changes this version</b>
      <p>Updated info for users who select "I'm at higher risk from coronavirus" because shielding advice is changing on 1 August 2020, url for medical advice in Scotland and info for medical advice in Northern Ireland.</p>
      <ul>
        <li>
          <a href="/v2">Get an isolation note</a>
        </li>
        <li>
          <a href="/v2/check">Check an isolation note</a>
        </li>
      </ul>

      <hr>

      <h2 class="nhsuk-heading-m">Version 1 (before 1 August 2020)</h2>
      <ul>
        <li>
          <a href="/v1">Get an isolation note</a>
        </li>
        <li>
          <a href="/v1/check">Check an isolation note</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
